<div class="outer" (click)="close()">
  <div
    class="modal-content confirm-modal {{ cssClass }}"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-header">
      <h4 class="modal-title">
        {{ title | translate: true }}
      </h4>
      <button (click)="onCancel($event)">
        <i class="icon-cross"></i>
      </button>
    </div>
    <div class="modal-body">
      <app-form
        [standalone]="true"
        [uploading]="progress"
        [elements]="form"
        [cancelWaiting]="cancelWaiting"
        [actionWaiting]="actionWaiting"
      ></app-form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="actionWaiting"
        (click)="onAction($event)"
        mat-flat-button
        [color]="actionColor"
      >
        <i *ngIf="actionWaiting" class="ikon-loader icon-spin"></i>
        {{ actionLabel | translate: true }}</button
      >&nbsp;
      <button (click)="onCancel($event)" mat-button>
        <i *ngIf="cancelWaiting" class="ikon-loader icon-spin"></i>
        {{ cancelLabel | translate: true }}
      </button>
    </div>
  </div>
</div>

