<div class="af-auto-complete">
  <input
    [placeholder]="placeHolder | translate: true"
    #trigger="matAutocompleteTrigger"
    (blur)="hide(trigger)"
    [matAutocomplete]="auto"
    [class.ltr]="ltr"
    [(ngModel)]="model"
  />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </mat-option>
    <mat-option
      *ngFor="let item of filtered"
      (click)="update(item)"
      class="member-item"
      [value]="item.value"
    >
    </mat-option>
  </mat-autocomplete>
</div>
