<header class="main-header bg-white d-flex justify-content-between p-2">
  <div class="header-toggle">
    <div class="menu-toggle" (click)="toggleAside()">
      <div></div>
      <div></div>
      <div></div>
    </div>

<!--    <i class="i-Add-UserStar mr-3 text-20 cursor-pointer"></i>-->
<!--    <i class="i-Speach-Bubble-3 mr-3 text-20 cursor-pointer"></i>-->
<!--    <i class="i-Email mr-3 text-20 mobile-hide cursor-pointer"></i>-->
<!--    <i class="i-Calendar-4 mr-3 mobile-hide text-20 cursor-pointer"></i>-->
<!--    <i class="i-Checkout-Basket mobile-hide mr-3 text-20 cursor-pointer"></i>-->
  </div>
  <div class="header-part-right">
    <i class="i-Full-Screen header-icon d-none d-sm-inline-block" (click)="toggleFullScreen()"></i>
    <div class="dropdown">
      <i class="i-Safe-Box text-muted header-icon" [matMenuTriggerFor]="menuBox"></i>
      <mat-menu #menuBox>
        <div class="menu-icon-grid">
          <a href="javascript:void(0)"><i class="i-Shop-4"></i> Home</a>
          <a href="javascript:void(0)"><i class="i-Library"></i> UI Kits</a>
          <a href="javascript:void(0)"><i class="i-Drop"></i> Apps</a>
          <a href="javascript:void(0)"><i class="i-File-Clipboard-File--Text"></i> Forms</a>
          <a href="javascript:void(0)"><i class="i-Checked-User"></i> Sessions</a>
          <a href="javascript:void(0)"><i class="i-Ambulance"></i> Support</a>
        </div>
      </mat-menu>
    </div>
    <div class="dropdown">
      <div class="badge-top-container" [matMenuTriggerFor]="menuNotifications">
        <span class="badge badge-primary">3</span>
        <i class="i-Bell text-muted header-icon"></i>
      </div>
      <mat-menu #menuNotifications>
        <div class="notification-dropdown rtl-ps-none">
          <div class="dropdown-item d-flex">
            <div class="notification-icon">
              <i class="i-Speach-Bubble-6 text-primary mr-1"></i>
            </div>
            <div class="notification-details flex-grow-1">
              <p class="m-0 d-flex align-items-center">
                <span>New message</span>
                <span class="badge badge-pill badge-primary ml-1 mr-1">new</span>
                <span class="flex-grow-1"></span>
              </p>
              <p class="text-small text-muted m-0">James: Hey! are you busy?</p>
              <p class="text-small text-muted m-0">10 sec ago</p>
            </div>
          </div>
          <div class="dropdown-item d-flex">
            <div class="notification-icon">
              <i class="i-Receipt-3 text-success mr-1"></i>
            </div>
            <div class="notification-details flex-grow-1">
              <p class="m-0 d-flex align-items-center">
                <span>New order received</span>
                <span class="badge badge-pill badge-success ml-1 mr-1">new</span>
                <span class="flex-grow-1"></span>
              </p>
              <p class="text-small text-muted m-0">1 Headphone, 3 iPhone x</p>
              <p class="text-small text-muted m-0">10 sec ago</p>
            </div>
          </div>
          <div class="dropdown-item d-flex">
            <div class="notification-icon">
              <i class="i-Empty-Box text-danger mr-1"></i>
            </div>
            <div class="notification-details flex-grow-1">
              <p class="m-0 d-flex align-items-center">
                <span>Product out of stock</span>
                <span class="badge badge-pill badge-danger ml-1 mr-1">3</span>
                <span class="flex-grow-1"></span>
              </p>
              <p class="text-small text-muted m-0">Headphone E67, R98, XL90, Q77</p>
              <p class="text-small text-muted m-0">10 sec ago</p>
            </div>
          </div>
          <div class="dropdown-item d-flex">
            <div class="notification-icon">
              <i class="i-Data-Power text-success mr-1"></i>
            </div>
            <div class="notification-details flex-grow-1">
              <p class="m-0 d-flex align-items-center">
                <span>Server Up!</span>
                <span class="badge badge-pill badge-success ml-1 mr-1">3</span>
                <span class="flex-grow-1"></span>
              </p>
              <p class="text-small text-muted m-0">Server rebooted successfully</p>
              <p class="text-small text-muted m-0">10 sec ago</p>
            </div>
          </div>
        </div>
      </mat-menu>
    </div>
    <div class="dropdown">
      <i class="i-Administrator text-muted header-icon" [matMenuTriggerFor]="menuAccount"></i>
      <mat-menu #menuAccount>
        <div class="dropdown-header">
          {{ identityService.profile.firstName }} {{ identityService.profile.lastName }}
        </div>
        <a class="dropdown-item" (click)="logout()"
           href="javascript:void(0)">{{ 'LOGOUT' | translate}}</a>
      </mat-menu>
    </div>
  </div>
</header>
