<div class="app-header" *ngIf="identityService.identity.token">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button (click)="sidenav.toggle()" mat-icon-button>
        <i class="icon-menu3"></i>
      </button>
      <h1>
        <a routerLink="/dashboard">
          ASOODE
        </a>
      </h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLinkActive="selected" routerLink="/users">
          {{ 'USERS' | translate }}
        </a>
        <a mat-button routerLinkActive="selected" routerLink="/transactions">
          {{ 'TRANSACTIONS' | translate }}
        </a>
        <a mat-button routerLinkActive="selected" routerLink="/errors">
          {{ 'ERRORS' | translate }}
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
