<div class="sidebar-panel bg-white no-select">
  <div class="gull-brand pr-3 text-center mt-4 mb-2 d-flex justify-content-center align-items-center">
    <img src="/assets/images/logo-colored.png" alt="">
  </div>
  <!--  user -->
  <div class="scroll-nav">
    <div class="side-nav">
      <div class="main-menu">
        <ul class="metismenu">
          <li *ngFor="let m of menu" class="Ul_li--hover" [class.active]="m.active">
            <a (click)="expand(m)" class="has-arrow" [routerLink]="m.path">
              <i class="{{m.icon}}  text-20 mr-2 text-muted"></i>
              <span class="item-name text-15 text-muted">
                {{ m.text | translate}}
              </span>
            </a>
            <ng-container *ngIf="m.children.length && m.expanded">
              <ul class="mm-collapse">
                <li *ngFor="let child of m.children" class="item-name" [class.active]="child.active">
                  <a [routerLink]="child.path">
                    <i class="{{child.icon}} mr-2 text-muted"></i>
                    <span class="text-muted">{{ child.text | translate}}</span>
                  </a>
                </li>
              </ul>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
