<div class="side-content-wrap">
  <div class="sidebar-left rtl-ps-none open">
    <ul class="navigation-left">
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/dashboard">
          <i class="nav-icon i-Bar-Chart"></i>
          <span class="nav-text">{{ 'PNL_DASHBOARD' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/users">
          <i class="nav-icon i-Administrator"></i>
          <span class="nav-text">{{ 'USERS' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/transactions">
          <i class="nav-icon i-Add-Cart"></i>
          <span class="nav-text">{{ 'TRANSACTIONS' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/contact">
          <i class="nav-icon i-Email"></i>
          <span class="nav-text">{{ 'CONTACT_US' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/blog">
          <i class="nav-icon i-Newspaper"></i>
          <span class="nav-text">{{ 'BLOG' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/marketers">
          <i class="nav-icon i-Add-UserStar"></i>
          <span class="nav-text">{{ 'MARKETERS' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/errors">
          <i class="nav-icon i-Security-Bug"></i>
          <span class="nav-text">{{ 'ERRORS' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/discounts">
          <i class="nav-icon i-Dollar-Sign-2"></i>
          <span class="nav-text">{{ 'DISCOUNTS' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
      <li class="nav-item">
        <a class="nav-item-hold" routerLink="/plans">
          <i class="nav-icon i-Billing"></i>
          <span class="nav-text">{{ 'PLANS' | translate }}</span>
        </a>
        <div class="triangle"></div>
      </li>
    </ul>
  </div>
  <div class="sidebar-overlay"></div>
</div>
