*:focus {
  outline: none !important;
}

body {
  overflow-y: hidden;
  &.lang-fa {
    * {
      font-family: IRANSansFa;
      font-weight: 300;
    }
    .material-icons {
      font-family: "Material Icons" !important;
    }
  }
  &.lang-en {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  &.dir-rtl {
    direction: rtl;
    text-align: right;
  }
  &.dir-ltr {
    direction: ltr;
    text-align: left;
  }

  .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;

    &.in {
      display: block;
    }

    .modal-header {
      border-bottom: 1px solid #e6e6e6;
      padding: 10px 0 0;
      color: #666666;
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      display: flex;

      h4 {
        margin-bottom: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
      }

      button {
        border: none;
        background: none;
        width: 40px;
        height: 30px;
        color: #b3b3b3;
        position: relative;
        top: -3px;

        i {
          font-size: 0.6rem;
        }
      }
    }
    .modal-content {
      max-width: 98%;
      width: 600px;
      margin: min(20vh, 200px) auto;

      background: #fff;
      border-radius: 5px;
    }
    .modal-body {
      padding: 10px 15px;
      font-size: 0.8rem;
    }
    .modal-footer {
      padding: 30px 15px 20px;
      text-align: center;
    }
  }
  &.modal-open {
    overflow: hidden;
  }
}

td.operations {
  text-align: end;
}

.main-content-wrap {
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
}
.notification-dropdown {
  display: block;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbarColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  box-shadow: inset 0 0 10px 10px $scrollbarThumbColor;
  border: solid 0.1rem transparent;
  border-radius: 10px;
  &:hover {
    box-shadow: inset 0 0 10px 10px darken($scrollbarThumbColor, 10%);
  }
}
