//$mainColor1: #002780;
$mainColor1: #00184a;
$mainColor2: #db0b00;
$mainColor3: #1bce30;
$mainColor4: #115c18;
$mainColor5: #90a6b0;
$mainColor6: #b0c0c6;
$mainColor7: #d0d9dd;
$mainColor8: #ecf0f1;
$mainColor9: #ffcf00;
$mainColor10: #f4f4f4;

$scrollbarColor: #ddd;
$scrollbarThumbColor: $mainColor6;

$headerLinkColor: #bdbfc0;
$headerBgColor: #fff;
$disabledColor: #7b7b7b;
$disabledBgColor: #f5f5f5;
$txtColor1: $mainColor1;
$txtColor2: #fff;
$txtColor3: #96c3db;
$txtColor4: $mainColor5;
$successColor1: $mainColor3;
$successColor2: $mainColor4;
//$bgColor-1: #e3e3e3;
$bgColor-1: $mainColor8;
$bgColor-2: $mainColor1;
$bgColor-3: #fff;
$borderColor: #b3b3b3;
$borderColor2: #fff;
$borderColor3: $mainColor5;
$formItemBg: #fff;
$formItemColor: $txtColor4;
$formItemBorderColor: $borderColor;
$headerHeight: 90px;

@mixin radioTxt($rad) {
  position: relative;
  padding-right: 1.4 * $rad;
  &::before,
  &::after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
  }
  &::before {
    top: calc(50% - #{$rad / 2});
    width: $rad;
    height: $rad;
    border-radius: $rad/4;
    border: 2px solid $txtColor4;
    right: 0;
  }
  &::after {
    width: 0;
    height: 0;
    top: 50%;
    background-color: $successColor1;
    transition: all 0.15s;
    right: $rad/2;
  }
}
@mixin radioTxtActive($R, $rad) {
  &::after {
    width: $rad;
    height: $rad;
    top: calc(50% - #{$rad/2});
    right: ($R - $rad)/2;
    border-radius: $rad/4;
  }
}
